Welcome to our token site
<!-- ruby solution -->
<!-- type='button' to get rid of reload?  -->
<button type="button"><%= link_to "Reset API Token", "/account/token_reset", method: :post %></button>

<br>
<div ng-app="AccountApp">
    <div ng-controller="MainCtrl">
        {{greeting}}
        {{current_user.email}}
    </div>
</div>
<br>
<!-- ng solution -->
<button ng-click="createReceipt()">Create a Receipt</button>
